html {
	font-size: 20px;
	font-family: sans-serif;
}

body {
	max-width: 60rem;
	margin: 0 auto;
}

header h1 {
    text-align: center;
}

.instructions {
	font-size: 16px;
    margin: 1rem;
}


div#options {
    background: #eee;
    padding: 0.5rem 0;
}
@media screen and (min-width: 768px) {
    div#options {
        padding: 0;
        border-radius: 1rem;
        display: inline-block;
    }
}

#options p {
    margin: 1rem;
}

#options p:not(:last-child) {
	border-bottom: 1px solid #ccc;
	padding-bottom: 1rem;
}

#time_limit {
    width: 100%;
}

button {
    font-size: 1rem;
    background: #ccc;
    border: none;
    padding: 0.5rem;
    width: 100%;
    cursor: pointer;
}
#reset:hover {
    background: red;
    color: white;
}

#challenges {
	padding: 0;
	list-style: none;
}

.challenge {
    list-style: none;
    padding: 0;
    text-align: center;
    margin: 0 auto;
}
.challenge, .summary {
	margin-bottom: 2rem;
}

.challenge.finished {
	opacity: 0.3;
}

@media screen and (min-width: 400px) {
    .challenge {
        width: 20rem;
    }
}
@media screen and (min-width: 600px) {
    .challenge {
        width: 30rem;
    }
}
@media screen and (min-width: 1240px) {
    body {
        padding: 0 1rem;
    }
    .challenge {
        width: 60rem;
    }
}

.bit {
	box-sizing: border-box;
    display: inline-block;
    padding: 1rem;
    width: 5rem;
    height: 5rem;
    border: 1px solid black;
    vertical-align: middle;
    text-align: center;
    line-height: 3em;
    margin-bottom: 0.5em;
    position: relative;
}
.step:after, .step:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
    z-index: 1;
}

.step:after {
	border-color: rgba(136, 183, 213, 0);
	border-left-color: white;
	border-width: 0.5rem 0 0.5rem 0.5rem;
	margin-top: -0.5rem;
}
.step:before {
	border-color: rgba(194, 225, 245, 0);
	border-left-color: black;
	border-width: 0.6rem 0 0.6rem 0.6rem;
	margin-top: -0.6rem;
}

.challenge .difficulty {
	border-radius: 0.3rem 0 0 0;
}

.bit:first-child {
	border-radius: 0.3rem 0 0 0.3rem;
}

.bit:last-child {
	border-radius: 0 0.3rem 0.3rem 0;
}

.bit.start {
    border-left: 1px solid black;
}
.bit .text {
    line-height: 1rem;
    display: inline-block;
    vertical-align: middle;
}
.challenge .move .text {
	text-transform: uppercase;
}

.challenge .result input {
    width: 3rem;
    height: 2rem;
    border: none;
    border-bottom: 1px solid gray;
    /* margin-top: 1rem; */
	font-size: 1em;
	background: transparent;
}

.challenge .result::before, .challenge .difficulty {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 1px;
    background: black;
    color: white;
    line-height: 1.2em;
}
.challenge .result::before {
    content: 'Answer';
}

.challenge .result, .challenge .start {
    position: relative;
}

.challenge.difficulty-easy .difficulty, .new-challenge[data-difficulty="easy"] {
	background: green;
    color: white;
}

.challenge.difficulty-medium .difficulty, .new-challenge[data-difficulty="medium"] {
	background: #ffc200 /*amber*/;
    color: white;
}

.challenge.difficulty-hard .difficulty, .new-challenge[data-difficulty="hard"] {
	background: red;
    color: white;
}

.challenge .move.double_it .text, .challenge .move.halve_it .text, .challenge .move.square_it .text, .challenge .move.cube_it .text {
    font-size: 0.7em;
}

.challenge .start .text {
    font-size: 2em;
}

.challenge .time .text {
    text-align: right;
    width: 100%;
}

.challenge .time {
    padding: 1rem 0.5rem;
    border-right: 1px solid;
}
.challenge .time:hover {
    background: orange;
}

.challenge.correct .result {
	background-color: lightgreen;
}
.challenge.out_of_time .time {
	background-color: red;
	color: white;
}

.new-challenge-buttons {
    display: flex;
    flex-wrap: wrap;
}
button.new-challenge {
    flex: 1 1 5em;
    width: 5em;
    height: 5em;
    padding: 0.5em 0;
    border: none;
    box-sizing: border-box;
	margin: 1em;
}

.started .new-challenge .start {
    display: none;
}
.new-challenge .another {
    display: none;
}
.started .new-challenge .another {
    display: inline;
}

.summary {
    margin: 0 1rem 2rem 1rem;
}
